<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/index_style.css}">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
		  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="shortcut icon" th:href="@{/img/MTS_Logo.png}" type="image/x-icon">
	<title>Интернет магазин МТС</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="general_div">
	<nav class="navbar navbar-expand-md navbar-white bg-white" aria-label="Fourth navbar example">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsExample04">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link" href="/auth/index1">Главная страница</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/product">Каталог товаров</a>

					<li class="nav-item">
						<a class="nav-link" href="/auth/login">Авторизация</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="about">
	<H3>МТС Live запустила первую в России федеральную сеть концертных площадок</H3>
	<h4 >23 сентября 2022</h4>
	<p>Москва, РФ – ПАО «МТС» (MOEX: MTSS), ведущая российская компания по предоставлению цифровых, медийных и телекоммуникационных сервисов, объявляет о том, что ее дочерняя компания «МТС Энтертейнмент» подписала соглашения о передаче управления мультимедийным пространством Music Media Dome в Москве и концертно-спортивным комплексом «М-1 Арена» в Санкт-Петербурге. Концертные площадки станут частью федеральной сети МТС Live и получат названия «MTC Live Холл» в Москве и «MTC Live Арена» в Санкт-Петербурге.
	<p>В рамках подписанных соглашений все операционное управление площадками переходит в «МТС Энтертейнмент»: организация концертов и сдача в аренду площадки для проведения мероприятий и шоу, продажа билетов, работа баров и ресторанов, спонсорские и рекламные интеграции. Команды Music Media Dome и «М1-Арена» перейдут в структуры «МТС Энтертейнмент».
	<p>Клиенты МТС Live смогут получать скидки и дополнительные привилегии при покупке билетов, в том числе в рамках программ лояльности МТС Premium и МТС Cashback.
	<p>Дополнительные скидки и бонусы будут доступны при посещении мероприятий, организатором которых будет выступать МТС Live. Первым мероприятием на обновленной площадке в Москве станет большой сольный концерт Zivert «Станция любовь», организатором, сопродюсером и билетным партнером которого является МТС Live.

	<p>«Первая в России сеть концертных площадок МТС Live – важный шаг в развитии бизнеса МТС на рынке энтертейнмента. Мы предоставим организаторам и артистам доступ к качественной инфраструктуре, а клиентам МТС – лучший сервис и комфорт при посещении любых типов мероприятий. Наш вклад в развитие площадок и наполнение их контентом позволит кратно увеличить рынок и качественно изменить подход и паттерны потребления любых развлекательных мероприятий зрителями», — отметил Михаил Минин, генеральный директор «МТС Энтертейнмент».

	<p>MTC Live Холл в Москве – концертный зал с самыми крупными проекционными поверхностями в мире, организаторы смогут проводить на площадке мероприятия любого масштаба и формата: концерты и шоу, презентации, конференции, корпоративы, интерактивные выставки и многие другие. Площадка с комфортом вмещает от 3 000 до 8 500 человек, Трансформируемость зала и сценических площадей, большое количество отдельных зон и VIP-лож позволяют с комфортом разместить даже небольшое мероприятие.

	<p>MTC Live Арена в Санкт-Петербурге – концертно-спортивный комплекс рядом с «Лахта Центром», который вмещает до 2 500 человек при организации рассадки и до 4 500 человек в концертной конфигурации. Это современная универсальная площадка включает в себя концертный зал с телескопическими трибунами, рестораны и 23 просторные VIP-ложи. На площадке работают кафе и рестораны, залы МТС Live Арены комфортны для проведения концертов и цирковых шоу, корпоративов, спортивных мероприятий и деловых форумов.

	<p>Ранее МТС подписала соглашение с международным выставочным центром «Екатеринбург ЭКСПО», концертный зал на территории которого теперь называется МТС Live Холл в Екатеринбурге.

	<p><b>Справка</b>
	<p><b>«МТС Энтертейнмент»</b> – дочерняя компания МТС, объединяющая проекты и активы в сфере офлайн-развлечений и связанных с ними онлайн-сервисов, в которые входят: билетные операторы Ticketland и МТС Live и приложение МТС Live App, направление по организации концертных и театральных выступлений, а также МТС Live Арена в Москве, МТС Live Холл в Екатеринбурге и другие площадки. Ключевыми проектами «МТС Энтертейнмент» стали инвестиции в мюзикл «Шахматы», долгосрочный контракт на организацию выступлений проектов Comedy Club Production, серия музыкальных концертов «МТС Live Sessions» и проект «Студия МТС Live».

	</div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>